<section class="profileContainer">
    <h1>{{ this.firstName }} {{ this.lastName }} </h1>
    <ul>
        <li>Mail: {{ this.email }}</li>
        <li>Edad: {{ this.age }}</li>
        <li>Role: {{ this.role }}
        </li>
    </ul>
</section>