<section class="profileContainer">
    <h1>{{ this.f_name }} {{ this.l_name }} </h1>
    <ul>
        <li>Mail: {{ this.email }}</li>
        <li>Age: {{ this.age }}</li>
        <li>Role: {{ this.role }}</li>
    </ul>
</section>